body {
    background-color: rgb(252, 249, 246);
    min-width: 700px;
}

h1, h2 {
    margin-left: 35px;
}

#mainHeaderTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: -40px;
    font-weight: 400;

}

/*header content*/
.navBarHorizontal {
    padding-left: 25px;
}


.navHeader {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.navItem {
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
    margin-right: 20px;
    background-color: antiquewhite;
}

.navItem a {
    text-decoration: none;
}

.streetSign {
    margin: 10px 20px;
    width: 117px;
    height: 22px;
    padding: 1px 6px;
    text-decoration: none;
    font-size: 20px;
    font-family: Overpass;
    color: white;
    background-color: #01735C;
    border: 7px, solid white;
    outline: thick double black;
    border-radius: .1px;
}

.streetSign:hover {
    background-color: #009a7b;
}

.streetSign:active {
    background-color: #00b490;
}

/* styling for main.html */
#mainGridNavigationContainer {
    display: grid;
    grid-template: 350px 400px / 200px 200px 200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    align-items: center;

}

.mainGridNavigationItem {
    display: flex;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.mainGridNavigationItem a {
    text-decoration: none;
}

.mainGridNavigationItem img {
    width: 180px;
}
/* main content */

#pseudoSenecaBustBackground {
    float: right;
    width: 400px;
    height: auto;
    margin: 10px;
    opacity: .5;
}
figcaption {
    display: float;
}

main p {
    margin: 0px 20px;
}